.main-layout {

  position: relative;
  width: 100vw;
  height: 100vh;

  &__market {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 4%;
    height: 20%;
    min-height: 172px;
    background: #E21F2C;
    //transform: rotate(-1800deg);
    //transform-origin: 70% 50%;
    z-index: 10;
  }
  &__market-text {
    //width: 50%;
    //height: 100%;
    //background: no-repeat url("../../assets/icon-market.png") 50% 50%;
    //object-fit: cover;

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  &__market-container {
    transform: rotate(180deg);
  }

  .main-layout__video {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 20%;
    width: 25vw;
    height: 20vw;
    cursor: pointer;
    z-index: 4;
  }

  &__background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  &__background-video video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  &__background-video img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  &__video-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    background: no-repeat url("../../assets/rectangle169.png") 50% 50%;
    object-fit: cover;
  }

  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
  }
  &__play-arrow {
    width: 10px;
    height: 10px;
    background: no-repeat url("../../assets/icon-play.svg") 50% 50%;
  }
  &__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2% 4%;
    z-index: 5;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    'logo-area . about-area . . menu-area info-area info-area'
    '. . about-content about-content . menu-content menu-content .'
    '. . . . . menu-content menu-content .'
    'footer-info1 footer-info1 footer-info2 footer-info2 . copyright copyright .'
  ;
    width: 100%;
    height: 100%;
  }
  &__logo {
    grid-area: logo-area;
    width: 100%;
  }
  &__about-title {
    grid-area: about-area;
    width: 100%;
    height: 100%;
  }
  &__menu-title {
    grid-area: menu-area;
    width: 100%;
    height: 100%;
  }
  &__info-title {
    grid-area: info-area;
    width: 100%;
    height: 100%;
  }
  &__about-content {
    grid-area: about-content;
    width: 100%;
    height: 100%;
  }
  &__menu-content {
    position: relative;
    grid-area: menu-content;
    width: 100%;
    height: 100%;
  }
  &__footer-info1 {
    grid-area: footer-info1;
    width: 100%;
    height: 100%;
  }
  &__footer-info2 {
    grid-area: footer-info2;
    width: 100%;
    height: 100%;
  }
  &__copyright {
    grid-area: copyright;
    width: 100%;
    height: 100%;
  }
}

.title-header {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  padding: 5%;
}

.logo-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100px;
  padding: 5% 5% 0 5%;

  &__left {
    width: 40%;
    height: 100%;
    background: no-repeat url("../../assets/favicon.png") 50% 50%;
    background-size: contain;
    margin-right: 5%;
  }
  &__right {
    width: 60%;
    height: 100%;
    background: no-repeat url("../../assets/logo-right2.svg") 50% 50%;
    background-size: contain;
  }
}

.info-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__coordinates {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 0.55vw;
    line-height: 130%;
  }
  &__letters {
    display: flex;
    align-items: end;
    justify-content: space-between;
    max-width: 180px;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 35px;
      height: 35px;
      //margin-left: 5px;
      border-radius: 50%;
      border: #FFFFFF 1px solid;

      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 80%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

.about-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3%;

  &__image {
    position: absolute;
    top: 3%;
    left: 40%;
    width: 85.8px;
    height: 51.6px;
    background: no-repeat url("../../assets/image39.png");
  }
  &__title {
    max-width: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
  }
}

.footer-info1 {
  display: flex;
  align-items: end;
  padding: 3%;

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #FFFFFF 1px solid;
  }
  &__left {
    width: 75%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 3%;
    color: #FFFFFF;
  }
}

.footer-info2 {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: left;
  padding: 3%;

  &__flag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
  }
  &__flag-top {
    width: 100%;
    height: 50%;
    background: #144AC1;
  }
  &__flag-bottom {
    width: 100%;
    height: 50%;
    background: #F6C916;
  }
}

.copyright-area {
  display: flex;
  align-items: end;
  padding: 3%;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.background-grid {

  width: 100%;
  height: 100%;
  padding: 2% 4%;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    width: 100%;
    height: 100%;
  }
  &__m-block {
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 100%">\
      <rect x="0" y="0" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <line x1="5%" y1="0%" x2="95%" y2="0%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="0%" y1="5%" x2="0%" y2="95%" stroke="rgba(255,255,255,0.5)" />\
    </svg>');
  }
  &__b-block {
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 100%">\
      <rect x="0" y="0" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <rect x="0" y="99%" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <line x1="5%" y1="0%" x2="95%" y2="0%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="0%" y1="5%" x2="0%" y2="95%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="5%" y1="100%" x2="95%" y2="100%" stroke="rgba(255,255,255,0.5)" />\
    </svg>');
  }
  &__r-block {
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 100%">\
      <rect x="0" y="0" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <rect x="99%" y="0%" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <line x1="5%" y1="0%" x2="95%" y2="0%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="0%" y1="5%" x2="0%" y2="95%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="100%" y1="5%" x2="100%" y2="95%" stroke="rgba(255,255,255,0.5)" />\
    </svg>');
  }
  &__l-block {
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 100%">\
      <rect x="0" y="0" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <rect x="0" y="99%" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <rect x="99%" y="0%" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <rect x="99%" y="99%" width="1px" height="1px" fill="rgba(255,255,255,1)"/>\
      <line x1="5%" y1="0%" x2="95%" y2="0%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="0%" y1="5%" x2="0%" y2="95%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="5%" y1="100%" x2="95%" y2="100%" stroke="rgba(255,255,255,0.5)" />\
      <line x1="100%" y1="5%" x2="100%" y2="95%" stroke="rgba(255,255,255,0.5)" />\
    </svg>');
  }
}

.m-block {
  grid-area: m-block;
  width: 100%;
  height: 100%;
  //border: 1px solid rgba(255,255,255,0.5);
  background-image: url('data:image/svg+xml,\
  <line x1="100%" y1="5%" x2="100%" y2="95%" stroke="rgba(255,255,255,0.5)" />\
  <line x1="5%" y1="100%" x2="95%" y2="100%" stroke="rgba(255,255,255,0.5)" />\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100% 100%">\
      <line x1="0" y1="80" x2="100" y2="20" stroke="black" />\
      <rect x="5%" y="1%" width="95%" height="1px" fill="rgba(255,255,255,0.5)"/>\
      <rect x="99%" y="5%" width="1px" height="95%" fill="rgba(255,255,255,0.5)"/>\
      <rect x="5%" y="99%" width="95%" height="1px" fill="rgba(255,255,255,0.5)"/>\
      <line x1="5%" y1="100%" x2="95%" y2="100%" stroke="rgba(255,255,255,0.5)" />\
    </svg>');
}

@media screen and (max-width: 1200px) {
  .about-content__title {
    font-size: 50px;
  }
  .about-content__subtitle {
    font-size: 16px;
  }
  .footer-info2, .footer-info1__left {
    font-size: 10px;
  }
}
