@font-face {
  font-family: 'NBInternational-Bold';
  font-display: swap;
  src: url('../fonts/NBInternational-Bold.otf');
}

@font-face {
  font-display: swap;
  font-family: 'NBInternational-Light';
  src: url('../fonts/NBInternational-Light.otf');
}

@font-face {
  font-display: swap;
  font-family: 'NBInternational-Regular';
  src: url('../fonts/NBInternational-Regular.otf');
}
